/venv/
/output/
/dist/
/build/
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/test_python_qt5.iml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/git_toolbox_prj.xml
